img {
  display: block;
  width: 100%;
}
.parallax-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 5%;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}
.expand-width {
  width: 100%;
}


