

//
// Panels
// --------------------------------------------------


// Base class
.panel {
  margin-bottom: 20px;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  @include box-shadow(0 1px 1px rgba(0,0,0,.05));
}

// Panel contents
.panel-body {
  padding: $panel-body-padding;
  @include clearfix;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  @include border-top-radius(($panel-border-radius - 1));

  > .dropdown .dropdown-toggle {
    color: inherit;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: ceil(($font-size-base * 1.125));
  color: inherit;

  > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-top: 1px solid $panel-inner-border;
  @include border-bottom-radius(($panel-border-radius - 1));
}


// List groups in panels
//
// By default, space out list group content from panel headings to account for
// any kind of custom content between the two.

.panel {
  > .list-group,
  > .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        @include border-top-radius(($panel-border-radius - 1));
      }
    }
    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        @include border-bottom-radius(($panel-border-radius - 1));
      }
    }
  }
}
// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}

// Tables in panels
//
// Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
// watch it go full width.

.panel {
  > .table,
  > .table-responsive > .table,
  > .panel-collapse > .table {
    margin-bottom: 0;

    caption {
      padding-left: $panel-body-padding;
      padding-right: $panel-body-padding;
    }
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    @include border-top-radius(($panel-border-radius - 1));

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        border-top-left-radius: ($panel-border-radius - 1);
        border-top-right-radius: ($panel-border-radius - 1);

        td:first-child,
        th:first-child {
          border-top-left-radius: ($panel-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-top-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    @include border-bottom-radius(($panel-border-radius - 1));

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        border-bottom-left-radius: ($panel-border-radius - 1);
        border-bottom-right-radius: ($panel-border-radius - 1);

        td:first-child,
        th:first-child {
          border-bottom-left-radius: ($panel-border-radius - 1);
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: ($panel-border-radius - 1);
        }
      }
    }
  }
  > .panel-body + .table,
  > .panel-body + .table-responsive,
  > .table + .panel-body,
  > .table-responsive + .panel-body {
    border-top: 1px solid $table-border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    border: 0;
    margin-bottom: 0;
  }
}


// Collapsable panels (aka, accordion)
//
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: $line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: $panel-border-radius;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid $panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $panel-inner-border;
    }
  }
}


// Contextual variations
.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.panel-success {
  @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-warning {
  @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.panel-danger {
  @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}
.panel-black {
  @include panel-variant($panel-black-border, $panel-black-text, $panel-black-heading-bg, $panel-black-border);
}
.panel-white {
  @include panel-variant($panel-white-border, $panel-white-text, $panel-white-heading-bg, $panel-white-border);
}
.panel-clear {
  @include panel-variant($panel-clear-border, $panel-clear-text, $panel-clear-heading-bg, $panel-clear-border);
}


// Base class Customized

#sidebar-container {

  .panel-group {
    margin-bottom: 20px;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-footer {
      border-top: 0;
      + .panel-collapse .panel-body {
        border-bottom: 1px solid $panel-inner-border;
      }
    }
  }
}


#user-recent-history-container {

  .panel {
    margin-top: 50px;

    .panel-heading {
      padding-left: 0;
      padding-bottom: 0;
      border-bottom: 1px solid $panel-inner-border;

      h3 {
        margin: 0 !important;
        padding: 0 !important;
        font-size: 36px !important;
        font-weight: 600 !important;
        color: inherit;
      
        a {
          color: $brand-primary;
          font-weight: 300 !important;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

}



#details-container {

  .panel-group {
    margin-bottom: 20px;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;
      height: 35px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
      text-transform: uppercase;
    }

    .panel-title > a {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 16px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .panel-body {
      padding: 15px 5px;
      vertical-align-text: top;
      margin-top: 0;
      text-transform: none;
    }

    .panel-footer {
      border-top: 0;
      + .panel-collapse .panel-body {
        border-bottom: 1px solid $panel-inner-border;
      }

    }
  }
}


#login-container {

  .panel-group {
    margin-bottom: 0;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;
      height: 30px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
      text-transform: uppercase;
    }

    .panel-title > a {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .panel-body {
      padding: 15px 0;
      vertical-align: text-top;
      margin-top: 0;
      text-transform: none;
      border-bottom: 0 solid #000;
    }

    .product-orig-price {
      font-size: 14px;
      color: #000 !important;
      font-weight: 600;
    }

    .product-sale-price {
      font-size: 14px;
      color: #000 !important;
      font-weight: 300;
    }

    .panel-footer {
      border: 1px solid #000;
      background: #fff;
      padding-top: 40px;
      padding-bottom: 20px;
      font-family: 'Lato', sans-serif;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      + .panel-collapse .panel-body {
        border-bottom: 0 solid $panel-inner-border;
      }

    }
  }
}


#login-panel-clear {

  .panel {
    margin-bottom: 20px;
    border-radius: $panel-border-radius;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0)!important;

    + .panel {
      margin-top: 5px;
    }

    .panel-heading {
      border-bottom: 0;
      height: 30px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: none;
      }
    }

    .panel-title {
      width: 100%;
      margin: 0;
      padding: 0;
      float: none;
    }

    .panel-title > a {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      font-size: 13px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .panel-body {
      padding: 15px 0;
      vertical-align: text-top;
      margin-top: 0;
      text-transform: none;
      border-bottom: none;
    }

    .panel-footer {
      border: none;
      background: #fff;
      padding-top: 40px;
      padding-bottom: 20px;
      font-family: 'Lato', sans-serif;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      + .panel-collapse .panel-body {
        border-bottom: 0 solid $panel-inner-border;
      }

    }
  }
}


#cart-container {

  .panel-group {
    margin-bottom: 0;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;
      height: 37px;
      padding-top: 13px;
      padding-bottom: 13px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
    }

    .panel-title > a.accordion-toggle {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    span.help-block {
      background-color: #fff;
      min-height: 60px;
      margin-top: -15px;
      margin-bottom: 0;
      padding-top: 10px;
      padding-bottom: 0;
    }

    .panel-body {
      padding: 15px 0;
      vertical-align: text-top;
      margin-top: 0;
      text-transform: none;
      border-bottom: 0 solid #000;
    }

    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 22px;
      font-size: 14px;
      font-weight: 500;
    }

    .product-orig-price {
      font-family: $font-family-base;
      font-size: 14px;
      color: #000 !important;
      font-weight: 800;
    }

    .product-sale-price {
      font-family: $font-family-base;
      font-size: 14px;
      color: #000 !important;
      font-weight: 600;
    }

    .panel-footer {
      border: 1px solid #000;
      background: #fff;
      padding-top: 40px;
      padding-bottom: 20px;
      font-family: $font-family-base;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      + .panel-collapse .panel-body {
        border-bottom: 0 solid $panel-inner-border;
      }

    }
  }
}



#checkout-container {

  .panel-group {
    margin-bottom: 0;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;
      height: 38px;
      padding-top: 6px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
    }

    .panel-title > a.accordion-toggle {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 500;
      text-transform: none;
      font-size: 24px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    span.help-block {
      min-height: 60px;
      margin-top: -15px;
      padding-top: 10px;
      padding-bottom: 0;
    }

    .panel-body {
      padding: 15px 0;
      vertical-align: text-top;
      margin-top: 0;
      text-transform: none;
      border-bottom: 0 solid #000;
    }

    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 500;
    }

    .checkbox label {
      display: inline-block;
      position: relative;
      padding-left: 22px;
      font-size: 14px;
      font-weight: 500;
    }

    .product-orig-price {
      font-family: $font-family-base;
      font-size: 14px;
      color: #000 !important;
      font-weight: 800;
    }

    .product-sale-price {
      font-family: $font-family-base;
      font-size: 14px;
      color: #000 !important;
      font-weight: 600;
    }

    .panel-footer {
      border: 1px solid #000;
      background: #fff;
      padding-top: 40px;
      padding-bottom: 20px;
      font-family: 'Lato', sans-serif;
      margin-top: 15px;
      margin-bottom: 20px;
      padding-right: 0 !important;
      padding-left: 0 !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      + .panel-collapse .panel-body {
        border-bottom: 0 solid $panel-inner-border;
      }

    }
  }
}


// additional #account-container scss also located in partials/_account.scss
#account-container {

  .panel-group {
    margin-bottom: 20px;

    .panel {
      margin-bottom: 0;
      border-radius: $panel-border-radius;

      + .panel {
        margin-top: 5px;
      }
    }

    .panel-heading {
      border-bottom: 0;
      height: 35px;

      + .panel-collapse > .panel-body,
      + .panel-collapse > .list-group {
        border-top: 1px solid #000;
      }
    }

    .panel-title {
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
      float: none;
      text-transform: uppercase;
    }

    .panel-title > a {
      font-family: $font-family-base;
      color: inherit;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }

    .panel-default {
      border:none !important;
    }

    .panel-body {
      padding: 15px 5px;
      vertical-align: text-top;
      margin-top: 0;
      text-transform: none;
      border: none !important;
    }

    .panel-footer {
      border-top: 0;
      + .panel-collapse .panel-body {
        border-bottom: 1px solid $panel-inner-border;
      }

    }
  }
}
